body{
    background-color        : black;
    color                   : goldenrod;
}
#koelkast{
    background-color        : gray;
    display                 : grid;
    grid-template-columns   : 1fr 1fr;
    gap                     : 20px;
    color                   : black;

}

section{
    border                  : 2px solid white;
    padding                 : 10px;
    min-height              : 200px;
    
}
h2{
    margin                  : 0 0 10px 0; /* top right bottom left */
}
button{
  padding                   : 10px 20px;
  background-color          : black;
  color                     : goldenrod;
  font-size                 : 18px;
  border                    : 2px solid gray;
}

.rood{
     color                  : red;
}

.groen{
    color                   : green;
}